.card{
    margin: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #303030;
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 123px;
    width: 80px;
}

.card:after {
  content: "";
  background: #ffe75c;
  display: block;
  position: relative;
  padding-top: 150%;
  padding-left: 100%;
    border-radius: 7px;
  /*margin-left: -20px !important;*/
  /*margin-top: -120%;*/
  opacity: 0;
  transition: all 0.5s;
}

.card:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.card.selectedCard {
    border-color: palegoldenrod;
}

/*.card.discard {*/
/*    border-color: #b0210b;*/
/*}*/

.hand {
    font-size: 28px;
    width: 200px;
}

.grid{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#ruleButtonGrid {
    margin-top: 35px;
    display: grid;
    column-gap: 10px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#topGrid{
    grid-template-columns: 1fr 3fr 1fr;
}

#discard .card {
    width: 130px;
    height: 190px;
}

.numCards{
    margin: 0;
    font-size: 25px;
}

/*.playerhand {*/
/*    grid-auto-rows: 130px;*/
/*    grid-auto-columns: 100px;*/
/*    justify-content: start;*/
/*}*/

.cardhand{
    justify-content: start;
}

.pass{
    margin: 2px;
}

/*.selected {*/
/*    border: 10px yellow;*/
/*    border-radius: 10px;*/
/*}*/

body {
    background-color: #b0210b;
}

label {
    color: gold;
    font-family: Oriya MN;
    font-size: 30px;
}

p {
    color: gold;
    font-family: Oriya MN;
    font-size: 25px;
}

button {
    color: gold;
    background-color: #780e0e;
    font-family: Oriya MN;
    font-size: 25px;
    margin: 5px;
    border-color: goldenrod;
}

button:focus {
    outline: none;
}

button:active {
    background-color: #c21515;
}

#redoButton {
    display: none;
    padding: 20px;
    font-size: 40px;
    margin: 0 auto;
}

#playCard {
    display: block;
    width: 150px;
    margin-left: 5px;
}

.ruleButton {
    font-size: 20px;
    margin: 0;
    text-align: center;
    height: fit-content;
}

.player {
    color: gold;
    background-color: #303030;
    font-family: Oriya MN;
    font-size: 25px;
}

#overlay #startPage{
    text-align: center;
    width: fit-content;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
}

#overlay #startGame{
    text-align: center;
    width: fit-content;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}

#overlay p {
    margin-top: 200px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#overlay #numPlayersSubmit {
    margin-top: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#alert {
    color: gold;
    background-color: #780e0e;
    font-family: Oriya MN;
    font-size: 40px;
    display: block;
    text-align: center;
}

#played {
    display: block;
    color: gold;
    font-family: Oriya MN;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    /*margin-left: 510px;*/

}
