
.card{
    margin: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #303030;
    border-radius: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 123px;
    width: 80px;
}

.card:after {
  content: "";
  background: #ffe75c;
  display: block;
  position: relative;
  padding-top: 150%;
  padding-left: 100%;
    border-radius: 7px;
  opacity: 0;
  transition: all 0.5s;
}

.card:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}

.card.selectedCard {
    border-color: palegoldenrod;
}

.hand {
    font-size: 28px;
    width: 200px;
}

.hand:active {
    background-color: #b0210b;
}

.grid{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#ruleButtonGrid {
    margin-top: 35px;
    display: grid;
    column-gap: 10px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#topGrid{
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 50px;
}

#discard .card {
    width: 130px;
    height: 190px;
    border-color: #b0210b !important;
    pointer-events: none !important;
}

.numCards{
    margin: 0;
    font-size: 25px;
}

select{
    font-family: Oriya MN;
    font-size: 18px;
    color: #b0210b;
    vertical-align: center;
    border-radius: 0;
    -webkit-border-radius: 0;
    border: 0 gold;
    outline: 2px outset gold;
    outline-offset: -1px;
}

select:focus {
    outline-color: goldenrod;
}

option {
    background-color: white;
    color: #b0210b;
}

.cardhand{
    justify-content: start;
}

.pass{
    margin: 2px;
}

body {
    background-color: #b0210b;
}

label {
    color: gold;
    font-family: Oriya MN;
    font-size: 25px;
    line-height: 40px;
    vertical-align: center;
}

p {
    color: gold;
    font-family: Oriya MN;
    font-size: 25px;
}

pre {
    color: gold;
    font-family: Oriya MN;
    font-size: 25px;
    text-align: left;
    width: fit-content;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}

button {
    color: gold;
    background-color: #780e0e;
    font-family: Oriya MN;
    font-size: 25px;
    margin: 5px;
    border-color: goldenrod;
}

button:focus {
    outline: none;
}

button:active {
    background-color: #c21515;
}

input {
    font-family: Oriya MN;
    font-size: 16px;
    color: #b0210b;
    vertical-align: center;
    border-color: gold;
}

input:focus {
    outline-color: goldenrod;
}

#redoButton {
    display: none;
    padding: 20px;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 600px;
}

#playCard {
    display: block;
    width: 150px;
    margin-left: 5px;
}

h3 {
    color: gold;
    font-family: Oriya MN;
    font-size: 25px;
    line-height: 40px;
}

.ruleButton {
    font-size: 20px;
    margin: 0;
    text-align: center;
    height: fit-content;
}

.player {
    color: gold;
    background-color: #303030;
    font-family: Oriya MN;
    font-size: 25px;
}

#overlay #startPage{
    margin-top: 140px;
    text-align: center;
}

#overlay #startPage .directions{
    text-align: left;
    width: fit-content;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}

#overlay #startPage .guide{
    margin-top: 0px;
    text-align: center;
}

#overlay #startGame{
    text-align: center;
    width: fit-content;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
}

#overlay p {
    margin-top: 200px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#overlay #numPlayersSubmit {
    margin-top: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#alert {
    color: #780e0e;
    top: 40%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    opacity: 1;
    background-color: palegoldenrod;
    font-family: Oriya MN;
    font-size: 80px;
    display: block;
    text-align: center;
    margin: auto;
}

.hide {
    animation-name: fadeout;
    animation-delay: 1.4s;
    animation-duration: .2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    -webkit-animation-name: fadeout;
    -webkit-animation-delay: 1.4s;
    -webkit-animation-duration: .2s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.highlight {
    animation-name: spotlight;
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: spotlight;
    -webkit-animation-duration: .8s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease-in-out;
}

@keyframes spotlight {
    0% {
        background-color: #780e0e;
    }
    10% {
        background-color: gold;
    }
    100% {
        background-color: #780e0e;
    }
}

@-webkit-keyframes spotlight {
    0% {
        background-color: #780e0e;
    }
    10% {
        background-color: gold;
    }
    100% {
        background-color: #780e0e;
    }
}

.alert {
    color: #780e0e;
    top: 50%;
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 1000;
    background-color: palegoldenrod;
    font-family: Oriya MN;
    font-size: 40px;
    display: block;
    text-align: center;
}

#played {
    display: block;
    color: gold;
    font-family: Oriya MN;
    font-size: 30px;
    padding-bottom: 40px;
    text-align: center;
}

.close {
    margin: 0 auto;
}

th, td {
    border: 1px solid gold;
}

table {
    table-layout: auto;
    font-family: Oriya MN;
    font-size: 20px;
    color: gold;
    alignment: center;
    margin: 0 auto;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

#startWarn {
    position: relative;
    display: inline-block;
    margin-top: 0;
}